* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  @extend %font-primary;
  @include font($size: 1.3rem, $lh: 1.6rem, $weight: 400);
  background: $color-bg-main;
  color: $color-bg-light;
}

h1 {
  display: none;
}

h5 {
  font-weight: 500;
}

.footer {
  color: $color-bg-very-dark;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
